
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


body{
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    background-color: #cbbcb1;
    
}
main{
    margin: 5%;
   width: 90%;
    height: 90%;
   
}
h1{
text-align: center;
background-color: #AF6B58;
}
section {
    width: 300px;
    height:350px;
    margin: 0.5%;
    padding: 4%;
    padding-top: 0%;
    border: solid #556052 3px;
    border-radius: 10px;
    float: left;
    text-align: center;
    box-shadow: 3px 5px #af563d;

}
img{
    width: 200px;
    height: 250px;
    
    
    /* padding: 5%; */
}
select{
    background-color: #f2efea;
    width: 150px;
    height: 35px;
    text-align: center;
    border:#AF6B58 solid 2px;
    border-radius: 10px;
   
}
option{
    text-align: center;
   
}


    
    
    footer {
        padding: 20px;
        clear: both;
        position: relative;
        height: 40px;
        /* margin-top: -100px; */
          
        text-align: center;
    background-color: #AF6B58;
    }

